/* GLOBAL VARIABLES */
:root:not([inDOMFullscreen]) {
  --titlebar-height: 44px;
  --bookmark-width: 40px;
}

/* BOOKMARKS TOOLBAR */
#PersonalToolbar {
  z-index: 1;
  position: fixed;
  left: 0;
  width: var(--bookmark-width);  
  top: var(--titlebar-height);
  height: 100vh;
  max-height: 100vh !important;
  padding-bottom: 120px !important;
}

#PersonalToolbar > #personal-bookmarks > #PlacesToolbar > hbox {
  -moz-box-orient: vertical !important;
}

#PlacesToolbarItems {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-top: 1em;
}

.bookmark-item {
  visibility: visible !important;
  height: fit-content;
}

#PlacesChevron {
  display: none;
}

/* POPUP SEARCHBAR */
#nav-bar {
  margin-top: 0.3em !important;
  z-index: -100;
  transition: all 0.3s ease !important;
  opacity: 0;
  width: fit-content;
  height: fit-content;
  min-height: 50px !important;
  padding: 0.3em;
  align-self: center;
  border-radius: 0.5em;
  background-color: rgba(43, 42, 51, 0.9) !important;
  
}

#urlbar-background {
  opacity: 0.8;
}

#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar {
  margin-top: 0;
  margin-bottom: var(--titlebar-height);
  z-index: 100;
  opacity: 1;
}

#navigator-toolbox {
  height: var(--titlebar-height) !important;
  display: flex;
  flex-direction: column;
}

/* ShIFT BROWSER BY WIDTH OF BOOKMARK BAR */
:root:not([inDOMFullscreen]) body, :root:not([inDOMFullscreen]) #browser {
  margin-left: var(--bookmark-width);
}

/* CUSTOM BOOKMARK FOLDER ICONS */
.bookmark-item[container="true"] [label="School"] {
	list-style-image: url("./icons/icon_school.png") !important;
}

.bookmark-item[container="true"] [label="Development"] {
	list-style-image: url("./icons/icon_development.png") !important;
}

.bookmark-item[container="true"] [label="Entertainment"] {
	list-style-image: url("./icons/icon_entertainment.png") !important;
}
